footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 56px 32px 56px 33px;

  .logo {
    margin-bottom: 32px;
    width: 170px;
    height: 16px;
  }

  .socialMedia {
    display: flex;
    width: 154px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 49px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0 0 119px 0;
    width: 100%;
    text-align: center;
    li {
      margin: 0 0 19px 0;
      padding: 0;
      a {
        color: #ffffff;
        letter-spacing: 2px;
        line-height: 1rem;
        font-size: 12px;
        font-weight: bold;
      }
      a:hover {
        color: green;
      }
    }
    li:last-child {
      margin: 0;
    }
  }

  p {
    color: rgba($color: #ffffff, $alpha: 0.5);
    font-size: 15px;
  }
}

.arrow_button {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  color: #000000;

  img {
    width: 42px;
    height: 12px;
    margin-left: 26px;
  }
}

.white_arrow {
  filter: invert(100%) sepia(1%) saturate(283%) hue-rotate(267deg)
    brightness(113%) contrast(100%);
  -webkit-filter: invert(100%) sepia(1%) saturate(283%) hue-rotate(267deg)
    brightness(113%) contrast(100%);
}

.arrow_footer {
  width: 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 34px;

  img {
    width: 42px;
    height: 12px;
    margin-left: 0;
  }
}

.containerBottom {
  margin: 0;
  padding: 0 32px 64px 33px;
  background: url("../assets/shared/mobile/bg-beta.jpg");
  background-size: cover;

  .accent {
    width: 128px;
    height: 6px;
    background: linear-gradient(
      183deg,
      hsl(229, 100%, 67%),
      hsl(329, 36%, 59%),
      hsl(28, 100%, 79%)
    );
    margin-bottom: 58px;
  }

  h1 {
    margin: 0 0 24px 0;
    padding: 0;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 3.33px;
    color: #ffffff;
    text-transform: uppercase;
  }
}
