.text-container_first {
  padding: 0 33px 72px 33px;
}

.accent {
  width: 128px;
  height: 6px;
  background: linear-gradient(
    183deg,
    hsl(229, 100%, 67%),
    hsl(329, 36%, 59%),
    hsl(28, 100%, 79%)
  );
  margin-bottom: 66px;
}

.text-container {
  padding: 72px 33px;
}

.heading-home {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 3.33px;
  line-height: 40px;
  text-transform: uppercase;
}

.text-home_first {
  color: rgba($color: #ffffff, $alpha: 0.6);
  font-size: 15px;
  line-height: 25px;
  padding-top: 8px;
  margin-bottom: 23px;
}

.text-home {
  color: rgba($color: #000000, $alpha: 0.6);
  font-size: 15px;
  line-height: 25px;
  padding-top: 8px;
  padding-bottom: 23px;
}

.arrow_button {
  margin: 0;
  padding: 0;
  font-size: 12 !important;
}
